 body {
    background-color: #7E5841; background-image: linear-gradient(#2c1c20, #3E2825, #7E5841);
    background-repeat: no-repeat; background-attachment: fixed;
    color: antiquewhite; 
    font-family: 'Quicksand', sans-serif;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {font-family: 'Libre Baskerville', serif;}

.border-title {                
    border-left: 15px rgba(255,255,255,0.3) solid !important;
}

.bg-transparent-1 {
    background-color: rgba(0,0,0,0.33) !important;
}

.bg-transparent-1_5 {
    background-color: rgba(0,0,0,0.4) !important;
}
.bg-transparent-1_75 {
    background-color: rgba(0,0,0,0.6) !important;
}

.bg-transparent-2 {
    background-color: rgba(0,0,0,0.75) !important;
}

.card {
    border: none; background-color: transparent;
}

.bgdImg {
    width: 100%; height: auto; z-index: -1; max-height: 100vh;
    position: fixed; top: 0px; left:0px; opacity: 0.5;
}
.logoImg {
    max-width: 120px; max-height: 120px;
    width:20%; height: 20%;
}

.twitter-follow-button {
    margin-top: 7px;
}

.card-footer a img {
    margin:0 5px;
}

tbody tr td:first-child {
    text-align: center;
    vertical-align: middle;
    width: 15%;
}
tbody tr td:nth-child(2) {
    width: 40%;
}
tbody tr td:nth-child(3) {
    border-left: 1px rgba(128,128,128,0.25) solid;
    width: 40%;
    padding-left: 10px;
}
tbody tr td.subhead {
    font-weight: 700;
    border-left: none;
}
tr td {
    font-weight: 300;
}
tr td time {
    font-weight: 400;
}
td .keynoteName {
    font-weight: 700;
}
td.concurrentSession {
    text-align: center;
}
td.sessionHead {
    font-weight: 700;
}
.keynoteSponsor {
    font-weight: 400;
    color: #ffc107;
}
.frontSpeakerList li {
    line-height: 2rem;
}